/**********************************************
*** GENERAL
**********************************************/

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  body {
    color: #555;
    position: relative;
    font-weight: 400;
  }
  
  .right {
    float: right;
  }
  
  .red {
    color: #FF5049 !important;
  }
  
  .red-focus:focus {
    border: 1px solid #FF5049 !important;
  }
  
  
  /**********************************************
  *** TOP PART
  **********************************************/
  
  .top {
    height: 5vh;
    margin-top: 5vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .budget {
    position: absolute;
    width: 100px;
    left: 10%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  
  .budget__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 300;
  }
  
  .budget__value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 2px;
    letter-spacing: 2px;
  }
  
  .budget__income,
  .budget__expenses {
    padding: 1px;
    text-transform: uppercase;
  }
  
  .budget__income {
    margin-bottom: 5px;
    background-color: #28B9B5;
  }
  
  .budget__expenses {
    background-color: #FF5049;
  }
  
  .budget__income--text,
  .budget__expenses--text {
    float: left;
    font-size: 13px;
    color: #444;
    margin-top: 0px;
  }
  
  .budget__income--value,
  .budget__expenses--value {
    letter-spacing: 1px;
    float: left;
  }
  
  .budget__income--percentage,
  .budget__expenses--percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 0px 0;
    margin-left: 1px;
  }
  
  .budget__expenses--percentage {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
  }
  
  .income__title {
    color: #28B9B5;
  }
  
  .expenses__title {
    color: #FF5049;
  }
  
  /**********************************************
  *** BOTTOM PART
  **********************************************/
  
  