/*------------------------------------------------------------------------------------*/
/*------------------------------  YOUR CUSTOM CSS STYLE  -----------------------------*/

.editThisP
{
    margin: 0 auto !important;
    text-align: center;
}
.editErrorMsg
{
    margin: 0;
    color: #fff !important;
    text-align: center;
}
.editThisMsg
{
    margin: 0;
    color: #000 !important;
    text-align: center;
}
.editColor
{
    color: #fff !important;
}
.editWrapper
{
    top: 0 !important;
    left: 0;
}
.editBoxTitle
{
    background-color: #181a1d !important;
    color: #fff;
    margin-bottom: 30px;
    padding: 1px;
    padding-left: 10px;
}
.text-red {
    color: red;
}
.edit_align {
    width: auto !important;
}
.edit_m_t {
    margin-top: 8px !important;
}
.search_item {
    display: block;
}
.search_item a {
    color: #333;
}
.search_container {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    padding: 10px;
}
.display_block {
    display: block !important;
}
.custom_panel {
    border: 1px solid #E2E2E2 !important;
    margin-bottom: 10px !important;
}
.blog_tag {
    background: #333;
    color: #fff !important;
    display: inline-block;
    font-family: 'Yantramanav';
    font-weight: 600;
    width: 70px;
    padding: 13px 10px;
    text-align: center;
    text-transform: uppercase;
}
.btn-grey {
    background: #4f7594 !important;
}
.btn-grey:hover {
    background: #fdb913 !important;
}
.btn-pink{
    background: #4f7594 !important;
    border: #ff688f !important;
}
.btn-pink:hover{
    background: #fdb913 !important;
}
.btn-blue{
    background: #4f7594 !important;
    border: #fdb913 !important;
}